[user]
	name = Alex Launi
	email = dev@launi.me
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/Code/Ford/"]
	path = ~/Code/Ford/.gitconfig_ford
[includeIf "gitdir:~/Code/ODU/"]
	path = ~/Code/ODU/.gitconfig_odu

[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = vim
